
push constant 0
pop argument 2
push constant 0
pop argument 3

push argument 0
push constant 0
lt
if-goto IF_NEGATIVE
goto IF_NONNEGATIVE

label IF_NEGATIVE
push constant 1
pop argument 2

push argument 0
neg
push argument 0
add
push constant 0
eq
if-goto CANT_COMPUTE

push argument 0
neg
pop argument 1
goto END

label CANT_COMPUTE
push constant 1
pop argument 3
push argument 0
pop argument 1
goto END

label IF_NONNEGATIVE
push argument 0
pop argument 1
goto END

label END
return