function Sys.min 2
    pop temp 0
    pop temp 1
    push temp 0
    push temp 1
    lt
    if-goto min_found
    pop temp 0
    push temp 1
    return

(min_found)
    pop temp 0
    push temp 0
    return
